[data-md-color-scheme="nord"] {
  --md-primary-fg-color:        #a3be8c;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-primary-bg-color:        #3b4252;
  --md-accent-fg-color:         #d08770;
    --md-default-bg-color:      #3b4252;
    --md-default-fg-color:      #e5e9f0;
    --md-default-fg-color--light:       #a3be8c;
    /* Init Code Block Style */
    --md-code-bg-color:         #2e3440;
    --md-code-fg-color:         #ebcb8b;
    /* Style footer */
    --md-footer-bg-color:       #2e3440;

    --md-default-fg-color--lighter:     #bf616a;
}

[data-md-color-scheme="nord-light"] {
  --md-primary-fg-color:        #bf616a;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-primary-bg-color:        #e5e9f0;
  --md-accent-fg-color:         #5e81ac;
    --md-default-bg-color:      #e5e9f0;
    --md-default-fg-color:      #434c5e;
    --md-default-fg-color--light:       #bf616a;
    /* Init Code Block Style */
    --md-code-bg-color:         #d8dee9;
    --md-code-fg-color:         #bf616a;
    /* Style footer */
    --md-footer-bg-color:       #2e3440;

    --md-default-fg-color--lighter:     #ebcb8b;
}

h3 {
    color: #d08770;
}

h2 {
    color: #5e81ac;
}

.md-typeset .md-button {
  color: #5e81ac;
}

.md-typeset kbd {
  color: #3b4252;
}

.md-typeset :is(.admonition, details):is(.tip, .hint, .important, .note, .danger, .error, .warning, .caution, .attention) {
  border-color: transparent;
}
